.container {
  margin: 0 auto;

  width: 80%;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.title {
  font-size: 30px;
  color: #27374D;
  margin-bottom: 30px; 
}

.sentence {
  color: #27374D; 
  font-weight: 400;
}

.mySkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
